a:link,a:visited
{
	display:block;
	width:120px;
	font-size: 20px;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover
{
	background-color:#7A991A;
	font-weight:bold;
	opacity:0.4;
}
a:active
{
	opacity:1;
}